@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  background-color: silver;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  border: 5px solid blue;
  margin: 0;
  font-size: 110%;
}

#main {
  margin: 0 auto;
  border: 3px solid red;
  width: 80%;
  padding: 5%;
}

.container {
  border: 3px solid green;
  margin: 0 auto;
  width: 50%;
}

.info {
  border: 3px solid white;
  margin: 0 auto;
  width: 80%;
  padding: 2%;
}

#header {
  position: sticky;
  top: 0;
  border: 3px dashed black;
  background-color: white;
  opacity: .5;
  padding: 1%;
}

#footer {
  position: sticky;
  bottom: 0;
  border: 3px dashed black;
  background-color: white;
  opacity: .5;
  padding: 1%;
}

.sidebar-sticky {
  width: 100%;
  max-width: 100px;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 3px;
  background: rgba(255, 250, 250, 1);
  border: 3px solid magenta;
  overflow-x: hidden;
  padding: 50px 0;
  opacity: .8;
}

.sidebar {
  float: left;
  min-height: 60%;
  width: 100%;
  max-width: 100px;
  z-index: 1;
  left: 3px;
  background: rgba(240, 157, 157, 0.83);
  border: 3px solid cyan;
  overflow-x: hidden;
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 20%;
}

pre {
  text-align: left;
  background-color: rgb(128, 128, 128);
  color: white;
  width: 60%;
  margin: 0 auto;
  padding: 2%;
  border: 1px solid black;
  white-space: pre-wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

li {
  list-style: none;
  text-decoration: underline;
}

.red {
  color: red;
  font-weight: bolder;
}

.blue {
  color: blue;
  font-weight: bolder;
}

.green {
  color: green;
  font-weight: bolder;
}

#in {
  height: 3%;
  width: 3%;
  border: 1px solid gray;
}

#di {
  height: 30%;
  width: 30%;
  border: 1px solid gray;
}

table, th, td {
  border: 1px solid white;
}

th {
  font-weight: 900;
}

table {
  margin: 0 auto;
}

#w, #x, #y, #z {
  height: 130px;
  width: 130px;
  display: inline-block;
}

#w {
  border: 4px dotted pink;
  background-color: rgba(255, 255, 255, 0.69);
}

#x {
  border: 4px dashed lime;
  background-color: rgba(255, 255, 255, 0.69);
}

#y {
  border: 4px groove orange;
  background-color: rgba(255, 255, 255, 0.69);
}

#z {
  border: 4px double skyblue;
  background-color: rgba(255, 255, 255, 0.69);
}
